<div class="w-100 h-75">
  <div class="content">
    <h1 class="display-5">Select Company</h1>
    <div class="dropdown">
      <button
        class="select-button"
        type="button"
        id="dropDownMenu"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Pick an option
        <img src="./assets/dropdown-icon.svg" class="icon" />
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropDownMenu">
        <li *ngFor="let company of companies; let i = index">
          <a class="dropdown-item" (click)="handleSelectCompany(company)">
            {{ company.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
